#main
  h1= title
  p Welcome to the data extraction Node.js API for the Dasypygal Gentlemen's Blog. This application was created by Ian Sheridan to learn Node.js and experiment with using it for accessing a NoSql databases.
  p TODO:
  ul
    li add restful options such as PUT and DELETE
  h2 Usage
  p more to come
